
<!-- <div class="container mt-3">
    <h3>Modal Example</h3>
    <p>Click on the button to open the modal.</p>
    
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#log">
      Open modal
    </button>
  </div> -->
  
  <!-- The Modal -->
  
  <!-- <div class="modal fade" id="log">
    <div class="modal-dialog">
      <div class="modal-content">
  
          <div class="modal-header">
            <h4 class="modal-title">employee profile</h4>
          </div>  
          <div class="modal-body" *ngFor="let y of outCome">
            <h3>contact info</h3>
            <div> <label for="">name</label> <br>
<input type="text" [value]="y.name"></div>
<div> <label>email</label> <br>
<input type="email" [value]="y.email"></div>
<div><label>contact number</label> <br>
<input type="number" [value]="y.num"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-bs-dismiss="modal">Close</button>
          </div>
      </div>
 
    </div>
      </div>
       -->

  
  <input type="text" [value]="property.name">