h1{
    text-align: center;
    color: red;
}
ul {
    list-style-type: none;
  }
.add li{
margin-left: -33px;
}
.ab,.ba{
    display: inline-block;
    position: relative;
    left: 150px;
}
.back,.front{
  width: 150px;
  margin: 2px;
}