<div class="accordion">
  <div class="accordion-item">
      <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        STAEMENTS 2023
      </button>
    <div id="collapseOne" class="accordion-collapse collapse show"  data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div>june-2023 </div>
        <div>july-2023 </div>
      </div>
    </div>
  </div>


  
  <div class="accordion-item">
    <h2 class="accordion-header" >
      <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        STATEMENTS 2024
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       
      </div>
    </div>
  </div>
</div>